@*@model BloodPressureManagement.Models*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>sinocare</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/font.css">
    <link rel="stylesheet" href="~/css/xadmin.css">
    <script src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/js/xadmin.js"></script>
    <script src="~/js/echarts.min.js"></script>
    <script src="~/js/dark.js"></script>
    <script src="~/js/infographic.js"></script>
</head>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<body class="layui-anim layui-anim-up">
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">报表管理</a>
            <a>
                <cite>检测记录报表</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:38px">ဂ</i>
        </a>
    </div>
    <div class="x-body">
        <div class="layui-row layui-bg-gray">
            <br />
            <form class="layui-form layui-col-md12 x-so" style="width: 1000px;">
                <div class="layui-inline">
                    <label for="L_pass" class="layui-form-label">	所属总店</label>
                    <div class="layui-input-inline">
                        <select name="province" lay-filter="province">
                            <option value="">全部</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label for="L_pass" class="layui-form-label">	所属分店</label>
                    <div class="layui-input-inline">

                        <select name="province" lay-filter="province">
                            <option value="">全部</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label for="L_pass" class="layui-form-label">	筛选日期</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" placeholder="2019-10-28" name="start" id="start">
                        <input class="layui-input" placeholder="2019-11-28" name="end" id="end">
                    </div>
                </div>

            </form><br />
            <div class="layui-inline" style="margin-left:1040px; margin-top: -106px; ">
                <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>查询</button>
                <button class="layui-btn"><i class="layui-icon"></i>导出报表</button>
            </div>
        </div>


        <table class="layui-table">
            <thead style="font-size: 1px;">
                <tr>
                    <th>
                        <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
                    </th>
                    <th></th>
                    <th>姓名</th>
                    <th>手机号</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>体重</th>
                    <th>身高</th>
                    <th>饮食状态</th>
                    <th>BMI</th>
                    <th>血糖</th>
                    <th>总胆固醇</th>
                    <th>甘油三脂</th>
                    <th>高密度脂蛋白胆固醇</th>
                    <th>低密度脂蛋白胆固醇</th>
                    <th>总胆/高密</th>
                    <th>血尿酸</th>
                    <th>血酮</th>
                    <th>糖化血蛋白</th>
                    <th>血压</th>
                    <th>检测次数</th>
                </tr>
            </thead>
            <tbody style="font-size: 1px;">
                <tr>
                    <td>
                        <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
                    </td>
                    <td>1</td>
                    <td>老王</td>
                    <td>13492036281</td>
                    <td>女</td>
                    <td>36</td>
                    <td>69</td>
                    <td>空腹</td>
                    <td>24.16</td>
                    <td>5</td>
                    <td><2.59</td>
                    <td><0.57</td>
                    <td>>2.59</td>
                    <td>5.00</td>
                    <td>6.6</td>
                    <td>1401</td>
                    <td>5.49</td>
                    <td>5.8</td>
                    <td>120/69</td>
                    <td><2</td>
                    <td>2019-11-14 14:53:21</td>
                </tr>
            </tbody>
        </table>
        <div class="page">
            <div>
                <a class="prev" href="">&lt;&lt;</a>
                <a class="num" href="">1</a>
                <span class="current">2</span>
                <a class="num" href="">3</a>
                <a class="num" href="">489</a>
                <a class="next" href="">&gt;&gt;</a>
            </div>
        </div>


    </div>
    <script>
			layui.use('laydate', function() {
				var laydate = layui.laydate;

				//执行一个laydate实例
				laydate.render({
					elem: '#start' //指定元素
				});

				//执行一个laydate实例
				laydate.render({
					elem: '#end' //指定元素
				});
			});

			/*用户-停用*/
			function member_stop(obj, id) {
				layer.confirm('确认要停用吗？', function(index) {

					if($(obj).attr('title') == '启用') {

						//发异步把用户状态进行更改
						$(obj).attr('title', '停用')
						$(obj).find('i').html('&#xe62f;');

						$(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
						layer.msg('已停用!', {
							icon: 5,
							time: 1000
						});

					} else {
						$(obj).attr('title', '启用')
						$(obj).find('i').html('&#xe601;');

						$(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
						layer.msg('已启用!', {
							icon: 5,
							time: 1000
						});
					}

				});
			}

			/*用户-删除*/
			function member_del(obj, id) {
				layer.confirm('确认要删除吗？', function(index) {
					//发异步删除数据
					$(obj).parents("tr").remove();
					layer.msg('已删除!', {
						icon: 1,
						time: 1000
					});
				});
			}

			function delAll(argument) {

				var data = tableCheck.getData();

				layer.confirm('确认要删除吗？' + data, function(index) {
					//捉到所有被选中的，发异步进行删除
					layer.msg('删除成功', {
						icon: 1
					});
					$(".layui-form-checked").not('.header').parents('tr').remove();
				});
			}
    </script>

</body>

</html>