@model List<BloodPressureManagement.Models.Branch>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Account_Add_Head</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/font.css">
    <link rel="stylesheet" href="~/css/xadmin.css">
    <script src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="`/js/xadmin.js"></script>
</head>

<body>
    <div class="x-body layui-anim layui-anim-up">
        <form class="layui-form">
            <font style="font-weight: bold;">添加总店管理员</font><hr />
            <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">
                    <span class="x-red">*</span>姓名:
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_email" name="Aname" required lay-verify="required|Contact"
                           autocomplete="off" class="layui-input">
                </div>

            </div>
            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">
                    <span class="x-red">*</span>联系电话:
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_username" name="Phone" required lay-verify="required|phone"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="x-red">*</span>所属总店:
                </label>
                <div class="layui-input-inline">
                    <select style="width: auto;" name="Bnane">
                        <option>请选择</option>
                        @foreach (var item in Model)
                        {
                            <option value="@item.Bid">@item.Bnane</option>
                        }
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">
                    <span class="x-red">*</span>分配角色:
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_username" name="Aor" disabled="disabled" value="总店管理员"
                           required lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item" style="margin-left: 300px;">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="add" lay-submit="">
                    保存
                </button>
                <button id="btn_close" class="layui-btn" lay-filter="" lay-submit="">
                    取消
                </button>
            </div>
        </form>
    </div>
    <script>
        layui.use(['form', 'layer'], function () {
            $ = layui.jquery;
            var form = layui.form
                , layer = layui.layer;
            //自定义验证
            var chinese = /[u4e00-u9fa5]/;
            var tel = /^((13[0-9])|(14[0-9])|(15[0-9])|(17[0-9])|(18[0-9]))\d{8}$/;
            form.verify({
                Contact: function (value) {
                    if (value != "")
                        if (chinese.test(value)) {
                            return '姓名必须为中文';
                        } else if (value.length < 2) {
                            return '姓名字符长度必须大于等于2';
                        }
                },
                phone: function (value) {
                    if (value != "")
                        if (!tel.test(value)) {
                            return '手机号格式错误，请重新输入';
                        }
                }
            })

            //监听提交
            form.on('submit(add)', function (obj) {
                //发异步，把数据提交给php
                var data = obj.field;
                //判断是否选了总店
                if (data.Bnane == "请选择") {
                    layer.open({
                        title: '提示',
                        icon: 7,
                        content: '请选择总店'
                    })
                }
                else {
                    $.ajax({
                        type: "post",
                        url: "/SystemAccountManagement/Account_Add_Head_Save",
                        data: { "Aname": data.Aname, "Phone": data.Phone, "Bid": data.Bnane },
                        success: function (result) {
                            if (result == "OK") {
                                layer.open({
                                    title: '提示',
                                    content: '保存成功',
                                    icon: 1
                                });
                            } else {
                                layer.open({
                                    title: '提示',
                                    content: '保存失败',
                                    icon: 2
                                });
                            }
                        }
                    })
                    return false;
                }
                return false;
            });
        });
        $("#btn_close").on('click', function () {
            //获得frame索引
            var index = parent.layer.getFrameIndex(window.name)
            //关闭当前frame
            parent.layer.close(index);
            window.parent.location.reload();//父页面刷新
            return false;
        })
    </script>
</body>

</html>
