
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change_Password</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/font.css">
    <link rel="stylesheet" href="~/css/xadmin.css">
    <script src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/js/xadmin.js"></script>
</head>
<body>

    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">个人中心</a>
            <a>
                <cite>修改密码</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:38px">ဂ</i>
        </a>
    </div>
    <div class="x-body">

        <xblock>
            修改密码
        </xblock>
        <xblock>
            <div class="x-body">
                <div class="layui-form">
                    <div class="layui-form-item">
                        <label for="username" class="layui-form-label">
                            <span class="x-red">*</span>原始密码：
                        </label>
                        <div class="layui-input-inline">
                            <input type="password" id="Apwd" name="Apwd" required lay-verify="required"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="username" class="layui-form-label">
                            <span class="x-red">*</span>密码：
                        </label>
                        <div class="layui-input-inline">
                            <input type="password" name="Npassword" required lay-verify="required"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="username" class="layui-form-label">
                            <span class="x-red">*</span>确认新密码：
                        </label>
                        <div class="layui-input-inline">
                            <input type="password" name="Npassword1" required lay-verify="required"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                        </label>
                        <button class="layui-btn" lay-submit="" lay-filter="add">
                            保存
                        </button>
                    </div>

                </div>
            </div>
        </xblock>
    </div>
    <script>
        layui.use(['laydate', 'form', 'layer'], function () {
            var laydate = layui.laydate,
                layer = layui.layer,
                form = layui.form,
                $ = layui.jquery;
            form.on("submit(add)", function (obj) {
                var user = obj.field;
                $.ajax({
                    type: "Post",
                    url: "/AdminCenter/Xiugaimima",
                    data: user,
                    success: function (result) {
                        if (result.Success == 1) {
                            layer.open({
                                content: result.Message,
                                icon: 1,
                                end: function () {
                                    $("#Apwd").val("");
                                    $("input[name=Npassword]").val("");
                                    $("input[name=Npassword1]").val("");
                                }
                            })
                        }
                        else if (result.Success == 2) {
                            layer.open({
                                content: result.Message,
                                icon: 5
                            })
                        }
                        else {
                            layer.open({
                                content: result.Message,
                                icon: 5
                            })
                        }
                    }
                })
            })
        })
    </script>
</body>
</html>
